<div class="lyt">
  <div class="lyt__heading">
    <label for="title">Title</label>
    <div class="lyt__heading-title">
      <input type="text" class="lyt__heading-title--bar" id="title" />
    </div>
  </div>
  <div class="lyt__details">
    <div class="lyt__details-editor--menu---label">Details</div>
    <div class="lyt__details-editor">
      <div class="lyt__details-editor--menu---container">
        <div class="lyt__details-editor--menu---bar">
          <button type="button"  #bold (click)="setEditorTextBold(bold)" title="Bold">B</button>
          <button type="button">&#1030;</button>
          <button type="button"><i class="fa-solid fa-link"></i></button>
          <button type="button"><i class="fa-solid fa-image"></i></button>
          <button type="button"><></button>
        </div>
      </div>
      <div class="lyt__details-editor--box">
        <div class="rt-editor" #editorBox contenteditable="true" spellcheck="false" placeholder="Write the details here">
          <p>
            <br>
            
          </p>
        </div>
      </div>
    </div>
    
     <button type="submit" class="button good">Publish</button>
  </div>
 
</div>
