<div class="lyt">
  <div class="lyt__hd">
    <h3 class="lyt__hd-heading">
      <div class="lyt__hd-heading--text">GaQ Answered</div>
    </h3>
    <ul class="lyt__hd-links">
      <li class="lyt__hd-links--item">
        <a href="" class="lyt__hd-links--item---link active">Home</a>
      </li>
      <li class="lyt__hd-links--item">
        <a href="" class="lyt__hd-links--item---link">Questions</a>
      </li>
    </ul>
  </div>
  <div class="lyt__bd">
    <div class="lyt__bd-heading">
      <div class="lyt__bd-heading--text">
        Get all Questions,
        <blockquote style="color: #4cbb17">answered.</blockquote>
      </div>
    </div>
    <div class="lyt__bd-body">
      <ng-template #signInComponent></ng-template>
      <ng-template #signUpComponent></ng-template>
    </div>
  </div>
  <div class="lyt__ft">
    <div>&copy; Saumyadip Biswas</div>
  </div>
</div>
